package http


import (
    "{{ .System.Name }}/{{ .Module.Name|pathCase }}/api"
)


{{- range .Module.Interfaces }}
{{- $iface := .Name }}

{{- range .Methods }}

{{- $name := (print $iface (.Name|camelCase))}}

// func {{ $iface }}.{{.Name}}({{goParams .Inputs ""}}) {{goReturn .Output ""}}

type {{ $name }}Request struct {
{{- range .Inputs }}
    {{.Name|camelCase}} {{goReturn . "api."}} `json:"{{.Name}}"`
{{- end }}
}

type {{ $name }}Reply struct {
{{- if .Output.HasType }}
    Result {{goReturn .Output "api."}} `json:"result"`
{{- end }}
}

func (c *Client) {{ $name}}(req *{{ $name }}Request, reply *{{ $name }}Reply) error {
    url := "{{ $.Module.Name }}/{{ $iface }}/{{ .Name }}"
    resp, err := c.Post(url, req)
    if err != nil {
        return err
    }
    *reply = *resp.(*{{ $name }}Reply)
    return nil
}

{{- end }}
{{- end }}

